@font-face {
    font-family: Futura-Bold;
    src: url('./font/Futura Bold.ttf');
}

@font-face {
    font-family: Futura-Book;
    src: url('./font/Futura Book.ttf');
}

@font-face {
    font-family: Futura-Round;
    src: url('./font/Futura Round.ttf');
}

@font-face {
    font-family: Futura-Std-Book;
    src: url('./font/Futura Std Book.ttf');
}

@font-face {
    font-family: Futura-Std-Heavy;
    src: url('./font/Futura Std Heavy.ttf');
}

@font-face {
    font-family: Futura-Thin;
    src: url('./font/Futura Thin.ttf');
}